{% extends "base.html" %}
{% load static %}

{% block js %}
    <script src="{% static 'js/app.js' %}"></script>
{% endblock %}

{% load widget_tweaks %}
{% block title %}Add new User{% endblock %}

{% block content %}
    <div id="add-user-content" class="col-md-8 col-md-offset-2">
        <form method="post" action="{% url 'add_user' %}">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group{% if field.errors %} has-error{% endif %} ">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% render_field field class="form-control" %}
                    {% for error in field.errors %}
                        <p class="help-block">{{ error }}</p>                    
                    {% endfor %}
                </div>            
            {% endfor %}
            <button class="btn btn-primary" type="submit">Add User</button>    
        </form>
    </div>
{% endblock %}